# Prevent contributors accidentally committing Composer's binary
composer.phar

# Composer dependencies -- ignore vendor directory in project root, see
# http://getcomposer.org/doc/01-basic-usage.md#installing-dependencies
/vendor/

# composer.lock is only used in CI for this project, and is ignored
# when depending on this package. Ignoring it ensures that our CI is as
# close as possible to real-world use
# See http://getcomposer.org/doc/02-libraries.md#lock-file
/composer.lock

# PHPUnit test coverage data and other build output will go in /build
/build/

# PHPUnit custom phpunit.xml test suite description -- this is to allow
# users to have a local, custom phpunit.xml for use during development,
# which overrides phpunit.xml.dist
/phpunit.xml
