# Prevent contributors accidentally committing Composer's binary
composer.phar

# Composer dependencies -- ignore vendor directory in project root, see
# http://getcomposer.org/doc/01-basic-usage.md#installing-dependencies
vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock